body {
  font-family: "Source Sans Pro";
}

/* HOMEPAGE */

h3 {
  color: #c271ff;
  font-weight: 600;
  font-size: 14px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

.header {
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-color: #071629;
  background-position: center;
  background-size: cover;
  width: 100%;
}

nav a {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
}

li {
  margin-right: 30px;
}

.header .nav-link:hover {
  color: #c271ff !important;
}

.heading-homepage {
  font-size: 100px;
  font-weight: 700;
}

.heading-price {
  font-size: 60px;
  font-weight: 700;
}

.list-header {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.purple-button {
  background-color: #c271ff;
  border-radius: 50px;
  border-color: #c271ff;
  font-size: 14px;
  font-weight: 600;
}

.purple-button:hover {
  opacity: 0.9;
}

.purple {
  color: #c271ff;
  font-size: 30px;
  font-weight: 700;
}

.heading-two {
  font-size: 30px;
  font-weight: 300;
}

.image {
  border-radius: 50%;
}

.name {
  font-weight: 900;
  font-size: 18px;
}

.italic {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.section-purple {
  background-color: #c271ff;
}

.paragraph-carousel {
  font-size: 18px;
  font-weight: 400;
}

.popular {
  background-color: white;
}

.paragraph-card {
  color: rgba(7, 22, 41, 0.501584);
}

.smiles {
  background-color: #071629;
}

.paragraph-smile {
  font-size: 14px;
  font-weight: 400;
}

/* FOOTER */

.footer {
  background: #071629;
}

.social {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.social:hover {
  text-decoration: none;
  color: white;
}

.footer p {
  opacity: 15%;
}

/* PRICING */

.header-pricing {
  background-image: url(./images/pic_2.jpg);
  background-repeat: no-repeat;
  background-color: #071629;
  background-size: cover;
  width: 100%;
}

.header-pricing .nav-link:hover {
  color: #c271ff !important;
  text-decoration: underline;
}

.price {
  font-size: 40px;
  font-weight: 700;
}

.prices {
  font-size: 15px;
  font-weight: 400;
  opacity: 50%;
}

.holberton_school-icon-check {
  font-size: 20px;
  color: green;
}

/* FAQ */

h2 {
  font-size: 60px;
}

.fqa-paragraph {
  color: rgba(7, 22, 41, 0.501584);
}

/* COURSES */

.header-courses {
  background-image: url(images/pic_3.jpg);
  background-repeat: no-repeat;
  background-color: #071629;
  background-size: cover;
  width: 100%;
}

.header-courses .nav-link:hover {
  color: #c271ff !important;
  text-decoration: underline;
}

.coin {
  font-family: "Coiny";
  font-size: 32px;
  font-weight: 400;
  height: 70px;
  width: 480px;
}

.purple-smile {
  color: #c271ff;
}

.section-purple-courses {
  background-color: #c271ff;
}

.form {
  background-color: rgb(211, 158, 211);
  opacity: 50%;
  width: 100%;
  height: 30px;
}

.drop {
  background-color: rgb(211, 158, 211);
  opacity: 50%;
  border: rgb(211, 158, 211);
  height: 30px;
}

.text-courses {
  font-size: 13px;
  font-weight: 900;
}

h4 {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  color: rgba(7, 22, 41, 0.296247);
}
